* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: fit-content;
    margin: auto;
    padding: 50px;
    background-color: rgb(43, 40, 37);

}

.container {
    width: 600px;
    height: 600px;
    background-color: #FFFFFF;
    display: flex;
    flex-flow: wrap;
    
}

.container > div {
    border: 1px solid #fefefe;
}

button {
    text-align: center;
    font-size: 15px;
    color: black;
    margin: 10px;
    border-radius: 60px;
    padding: 14px;
    background-color: blueviolet;
    border: 2px solid whitesmoke;
    font-family: cursive;
    box-shadow: 2px 2px 2px #fefefe;
}

.title {
    font-size: 50px;
    font-style: italic;
    font-family: cursive;
    background-color: tomato;
    text-align: center;
    color: white;
    text-shadow: 2px 2px silver;

}