* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: fit-content;
    margin: auto;
    padding: 50px;

}

.container {
    width: 960px;
    height: 960px;
    background-color: gray;
    display: flex;
    flex-flow: wrap;
}

.container > div {
    flex-basis: 60px;
    border: 2px solid goldenrod;
}