* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: fit-content;
    margin: auto;
    padding: 50px;

}

.container {
    width: 600px;
    height: 600px;
    background-color: silver;
    display: flex;
    flex-flow: wrap;
}

.container > div {
    border: 1px solid goldenrod;
}

button {
    text-align: center;
    font-size: 30px;
    color: black;
    margin-top: 20px;
    border-radius: 50px;
    padding: 10px;
}